<ng-container *ngFor="let recipe of recipes">
  <a
    [routerLink]="['/recipes/', recipe.id]"
    routerLinkActive="active"
    class="list-group-item clearfix"
  >
    <div class="float-start">
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <span class="description">{{ recipe.description }}</span>
      <span class="entry">Start date: {{ recipe.lastUpdate | date }}</span>
    </div>
    <span class="float-end">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-fluid"
        style="max-height: 50px"
      />
    </span>
  </a>
</ng-container>
