<div>
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <br />
    <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
      <button
        (click)="loginWithGoogle()"
        mat-raised-button
        style="padding: 1rem"
      >
        <img
          src="https://raw.githubusercontent.com/fireflysemantics/logo/master/Google.svg"
          style="width: 50px; height: 30px"
        />
        Sign in with Google
      </button>
    </mat-card-content>
  </mat-card>
</div>
