<div class="opener">
<h3>Welcome to</h3>
  <img src="../../../../assets/images/mypasta.jpg" class="img-fluid">
  <h2>Andras Varga's Gastro Application!</h2>
</div>
<div>
  <mat-list role="list">
  <mat-divider></mat-divider>
    <mat-list-item>
      <img matListIcon src="../../../../assets/images/favicon.ico" alt="">
      <h3 matLine>GASTRO APPLICATION MAP</h3>
      <p matLine>
        <span> Recipe Book </span>
        <span class="demo-2"> - Shopping List </span>
      </p>
    </mat-list-item>
    <mat-selection-list #gastroApp [multiple]="false">
      <mat-divider></mat-divider>
        <div mat-subheader>Recipe Book</div>
      <mat-list-option>
        <img matListIcon src="../../../../assets/images/683488.png" alt="" height="30">
        You can find the Recipe Book button on the top
      </mat-list-option>
      <a mat-list-item routerLink="/recipes">
        or
        <button mat-button>Click Here</button>
        <mat-icon matListIcon>double_arrow</mat-icon>
      </a>
      <mat-list-option>
              <img matListIcon src="../../../../assets/images/favicon.ico" alt="" height="30">
        From Recipes you can pass the Ingredients to the Shopping List,
      </mat-list-option>
      <mat-list-option>
              <img matListIcon src="../../../../assets/images/favicon.ico" alt="" height="30">
        Create New Recipes,
      </mat-list-option>
      <mat-list-option>
              <img matListIcon src="../../../../assets/images/favicon.ico" alt="" height="30">
        Edit Recipes
      </mat-list-option>
      <mat-divider></mat-divider>
      <div mat-subheader>Shopping List</div>
      <mat-list-option>
        <mat-icon matListIcon>cookie</mat-icon>
        You can store and print Ingredients on the Shopping List page if you click the
        Shopping List button on the top
      </mat-list-option>
      <a mat-list-item routerLink="/shopping-list">
        or
        <button mat-button>Click Here</button>
        <mat-icon matListIcon>double_arrow</mat-icon>
      </a>
    </mat-selection-list>
</mat-list>
<mat-divider></mat-divider>
</div>
<hr />
