<div class="row">
  <div ngbDropdown class="dropdown">
    <button
      mat-raised-button
      color="accent"
      ngbDropdownToggle
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      role="button"
      aria-expanded="false"
    >
      Manage Developer
    </button>
    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-light">
      <ng-container>
        <li>
          <a
            ngbDropdownItem
            class="dropdown-item"
            (click)="onAddDevelopersToShoppingList()"
            >Add Developer's Details To the NotePad</a
          >
        </li>
      </ng-container>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <a ngbDropdownItem class="dropdown-item" (click)="onEditDeveloper()"
          >Edit Developer</a
        >
      </li>
    </ul>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <img
      [src]="developer.imagePath"
      alt="{{ developer.name }}"
      class="img-fluid"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>{{ developer.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <strong>Work</strong><br />
      <mat-card>
    {{ developer.description }}
    </mat-card>
    <br /><br />
    <strong>Role</strong><br />
    <mat-card class="justified">
        {{ developer.preparation }}
      </mat-card>
    <br />
  </div>
</div>
<div class="row">
  <div class="col">
    <strong>Skills</strong><br />
    <mat-card><mat-selection-list #ingredients [multiple]="false">
      <mat-list-option *ngFor="let ingredient of developer.ingredients" style="cursor: default;">
        {{ ingredient.measure }} of
        {{ ingredient.name }}
      </mat-list-option>
    </mat-selection-list></mat-card>
  </div>
</div>
<hr>
