<div class="row">
  <div ngbDropdown class="dropdown">
    <button
      mat-raised-button
      color="accent"
      ngbDropdownToggle
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      role="button"
      aria-expanded="false"
    >
      Manage Developer
    </button>
    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-light">
      <ng-container>
        <li>
          <a
            ngbDropdownItem
            class="dropdown-item"
            (click)="onAddDevelopersToNotePad()"
            >Add Developer's Information To the NotePad</a
          >
        </li>
      </ng-container>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <a ngbDropdownItem class="dropdown-item" (click)="onEditDeveloper()"
          >Edit Developer</a
        >
      </li>
    </ul>
  </div>
</div>
<hr />
<div class="row">
  <div class="col float-start">
    <h2 style="padding-bottom: 1rem;">{{ developer.name }}</h2>
    <p class="title">phone: {{ developer.phone }}
    </p>
    <p class="title">email: {{ developer.email }}
    </p>
  </div>
  <div class="col float-end">
    <img
      [src]="developer.imagePath"
      alt="{{ developer.name }}"
      class="img-fluid"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="title">Seniority level</p>
      <mat-card>
    {{ developer.description }}
    </mat-card>

    <p class="title">Position</p>
    <mat-card class="justified">
        {{ developer.preparation }}
      </mat-card>

  </div>
</div>
<div class="row">
  <div class="col">
    <p class="title">Skills</p>
    <mat-card><mat-selection-list #ingredients [multiple]="false">
      <mat-list-option *ngFor="let ingredient of developer.ingredients" style="cursor: default;">
        <!-- {{ ingredient.measure }}: -->
        {{ ingredient.name }}
      </mat-list-option>
    </mat-selection-list></mat-card>
  </div>
</div>
<hr>
