/* ANDRAS VARGA's GASTRO APPLICATION DESIGN */

/*
===============
Fonts
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@700&display=swap');

/* GENERAL STYLES */

* {
  font-family: 'Montserrat', sans-serif;
}

#recipes {
  background-color: #FFFBE6;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1020;
  top: 86px;
  height: min-content;
}
