<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Work Manager</span>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="col-12">
      <hr />
      <h3 class="printit">
        NotePad
        <button
          mat-button
          type="button"
          onClick="window.print()"
          style="float: right"
        >
          <mat-icon>print</mat-icon>
        </button>
      </h3>
      <hr />
      <form
        #f="ngForm"
        (ngSubmit)="onSubmitIngredient(f.value)"
        class="shopping-list-form"
      >
        <!-- <mat-form-field class="shopping-list-item-amount" appearance="outline">
        <mat-label for="amount">Amount</mat-label>
        <input
          matInput
          [(ngModel)]="ingredient.amount"
          name="amount"
          #amount="ngModel"
          required
          pattern="^[1-9]+[0-9]*$"
          minlength="1"
          id="amount"
          type="text"
        />

        <mat-error *ngIf="amount.touched && !amount.valid">
          <mat-error *ngIf="amount.errors?.required"
            >Amount is required.</mat-error
          >
          <mat-error *ngIf="amount.errors?.minlength"
            >Amount should be minimum
            {{ amount.errors?.minlength.requiredLength }} characters.</mat-error
          >
        </mat-error>
      </mat-form-field> -->
        <mat-form-field
          class="shopping-list-item-unit"
          appearance="outline"
          style="width: 10rem"
        >
          <mat-label>Type of Issue</mat-label>
          <mat-select
            [(ngModel)]="ingredient.measure"
            name="measure"
            #measure="ngModel"
            required
            id="measure"
          >
            <mat-option *ngFor="let u of unit$ | async" [value]="u.key">
              {{ u.payload.val().name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="shopping-list-item-name" appearance="outline">
          <input
            matInput
            [(ngModel)]="ingredient.name"
            name="name"
            #name="ngModel"
            required
            minlength="3"
            id="name"
            type="text"
            placeholder="Ingredient's name"
          />
          <mat-label for="name">Issue</mat-label>
          <mat-error *ngIf="name.touched && !name.valid">
            <mat-error *ngIf="name.errors?.required"
              >Task's name is required.</mat-error
            >
            <mat-error *ngIf="name.errors?.minlength"
              >Task's name should be minimum
              {{ name.errors?.minlength.requiredLength }} characters.</mat-error
            >
          </mat-error>
        </mat-form-field>
        <p>
          <button mat-raised-button color="primary">
            {{ editMode ? "Update Issue" : "Add New Issue" }}
          </button>

          <button mat-raised-button color="accent" (click)="onClear()">
            {{ editMode ? "Write New Issue" : "Clear" }}
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteIngredient()"
            *ngIf="editMode"
          >
            Delete Item
          </button>
        </p>
      </form>
      <ng-container *ngIf="ingredients.length">
        <mat-selection-list #NotePad>
          <mat-divider></mat-divider>
          <mat-list-option
            *ngFor="let ingredient of ingredients"
            (click)="
              onEditItem(
                ingredient.id,
                ingredient.name,
                ingredient.amount,
                ingredient.measure
              )
            "
          >
            <mat-icon matListIcon>add_circle_outline</mat-icon>
            ({{ ingredient.measure }}) {{ ingredient.name }}
          </mat-list-option>
        </mat-selection-list>
        <mat-divider style="margin-bottom: 0.8rem"></mat-divider>
      </ng-container>
      <ng-container *ngIf="projects.length">
        <hr />
        <h3>Chosen Projects</h3>
        <hr />
        <div *ngFor="let project of projects" class="row cprojects">
          <div class="col-10 project">
            <img
              [src]="project.imagePath"
              alt="{{ project.name }}"
              class="img-fluid"
            />
            {{ project.name }}
          </div>
          <div class="col-2 projectbtn">
            <button
              mat-raised-button
              class="projectremovebtn"
              color="warn"
              (click)="deleteProject(project.id)"
            >
              Remove Project
            </button>
          </div>
          <mat-selection-list #projectingredients>
            <mat-list-option
              *ngFor="let ingredient of project.ingredients; let i = index"
            >
              <mat-icon matListIcon>add_circle_outline</mat-icon>
              <span>
                <a> ({{ ingredient.measure }}) {{ ingredient.name }}</a
                ><a class="amount"></a
              ></span>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </ng-container>
      <ng-container *ngIf="developers.length">
        <hr />
        <h3>Chosen Developers</h3>
        <hr />
        <div *ngFor="let dev of developers" class="row cprojects">
          <div class="col-10 project">
            <!-- <div
            [style.backgroundImage]="'url(' + dev.imagePath + ')'"
            class="thumbnail"
            alt="{{ dev.name }}"
          ></div> -->
            <img [src]="dev.imagePath" alt="{{ dev.name }}" class="img-fluid" />
            {{ dev.name }}
          </div>
          <div class="col-2 projectbtn">
            <button
              mat-raised-button
              class="projectremovebtn"
              color="warn"
              (click)="removeDeveloper(dev.id)"
            >
              Remove Developer
            </button>
          </div>
          <div class="devskills">
            <div class="devskill">
              {{ dev.description }} -> Skills:</div>
            <div class="devskill" *ngFor="let ingredient of dev.ingredients; let i = index">
              {{ ingredient.name }}
            </div>
          </div>
          <div class="devskills">
            <div class="devphone">
              Phone:</div>
            <div class="devskill">
              {{ dev.phone }}
            </div>
          </div>
          <div class="devskills">
            <div class="devemail">
              Email:</div>
            <div class="devskill">
              {{ dev.email }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<hr />
<h4>Your Profile</h4>
<accordion></accordion>
