<ng-container *ngFor="let developer of developers">
  <a
    [routerLink]="['/developers/', developer.id]"
    routerLinkActive="active"
    class="list-group-item clearfix"
  >
    <div class="float-start">
      <h4 class="list-group-item-heading">{{ developer.name }}</h4>
      <span class="description">{{ developer.description }}</span>
      <span class="entry">Entry date: {{ developer.lastUpdate | date }}</span>
    </div>
    <div
      [style.backgroundImage]="'url(' + developer.imagePath + ')'"
      class="thumbnail float-end"
      alt="{{ developer.name }}"
    ></div>
  </a>
</ng-container>
