<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>Kanban Work Manager</span>
</mat-toolbar>
<div class="section">
  <div class="row">
    <div class="col-12">
      <hr />
      <h3 class="printit">
        Kanban Board
        <button
        class="printbtn"
          mat-button
          type="button"
          onClick="window.print()"
          style="float: right"
        >
          <mat-icon>print</mat-icon>
        </button>
      </h3>
      <hr />
    </div>
  </div>

  <div class="content-wrapper">
    <button (click)="newTask()" mat-button>
      <mat-icon>add</mat-icon> Add Task
    </button>

    <div class="container-wrapper">
      <div class="container">
        <h2>Backlog</h2>

        <mat-card
          cdkDropList
          id="todo"
          #todoList="cdkDropList"
          [cdkDropListData]="todo | async"
          [cdkDropListConnectedTo]="[doneList, inProgressList]"
          (cdkDropListDropped)="drop($event)"
          class="list"
        >
          <p class="empty-label" *ngIf="(todo | async)?.length === 0">
            Empty list
          </p>
          <app-task
            (edit)="editTask('todo', $event)"
            *ngFor="let task of todo | async"
            cdkDrag
            [task]="task"
          ></app-task>
        </mat-card>
      </div>

      <div class="container">
        <h2>In progress</h2>

        <mat-card
          cdkDropList
          id="inProgress"
          #inProgressList="cdkDropList"
          [cdkDropListData]="inProgress | async"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          (cdkDropListDropped)="drop($event)"
          class="list"
        >
          <p class="empty-label" *ngIf="(inProgress | async)?.length === 0">
            Empty list
          </p>
          <app-task
            (edit)="editTask('inProgress', $event)"
            *ngFor="let task of inProgress | async"
            cdkDrag
            [task]="task"
          ></app-task>
        </mat-card>
      </div>

      <div class="container">
        <h2>Done</h2>

        <mat-card
          cdkDropList
          id="done"
          #doneList="cdkDropList"
          [cdkDropListData]="done | async"
          [cdkDropListConnectedTo]="[todoList, inProgressList]"
          (cdkDropListDropped)="drop($event)"
          class="list"
        >
          <p class="empty-label" *ngIf="(done | async)?.length === 0">
            Empty list
          </p>
          <app-task
            (edit)="editTask('done', $event)"
            *ngFor="let task of done | async"
            cdkDrag
            [task]="task"
          ></app-task>
        </mat-card>
      </div>
    </div>
  </div>
  <h4>
    <mat-icon>people_alt</mat-icon>
    Developers in this project:
  </h4>
  <ng-container
    *ngFor="let dev of developers$ | async; let i = index"
  >
    <h5 class="developer-list">
      <mat-icon>supervised_user_circle</mat-icon>
      {{ dev.payload.val().name }}
    </h5>
  </ng-container>
  <hr />
  <h4>
    <mat-icon>perm_media</mat-icon>
    Project List:
  </h4>
  <ng-container *ngFor="let project of projects; let i = index">
    <h5 class="project-list">{{ project.name }}</h5>
  </ng-container>
  <hr />
  <h4>Your Profile</h4>
  <accordion></accordion>
</div>
