<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
          <button
            type="button"
            mat-raised-button
            color="warn"
            (click)="deleteRecipe()"
          >
            Delete Recipe
          </button>
          <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-fluid" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lastUpdate">Recipe Saved:</label>
            <input
              type="text"
              id="lastUpdate"
              formControlName="lastUpdate"
              class="form-control"
              #lastUpdate
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="2"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="preparation">Preparation</label>
            <textarea
              type="text"
              id="preparation"
              class="form-control"
              formControlName="preparation"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 ingredients" formArrayName="ingredients">
          <ng-container
            *ngFor="let ingredientCtrl of controls; let i = index"
            [formGroupName]="i"
          >
            <div class="row" style="margin-top: 10px" id="ingredientrow">
              <div class="col-2">
                <div class="form-floating">
                  <input formControlName="amount" type="text" class="form-control" id="amountFloatingInputGrid" placeholder="1" value="1">
                  <label for="amountFloatingInputGrid">Amount</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating">
                  <select formControlName="measure" class="form-select" id="unitSelect" aria-label="unit select">
                    <option  *ngFor="let m of measure$ | async" [value]="m.key">
                      {{ m.payload.val().name }}
                    </option>
                  </select>
                  <label for="unitSelect">Unit</label>
                </div>
              </div>
              <div class="col-4">
                <div class="form-floating">
                  <input formControlName="name" type="text" class="form-control" id="nameFloatingInputGrid">
                  <label for="nameFloatingInputGrid">Ingredient</label>
                </div>
              </div>
              <div class="col-2">
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  id="removeingbtn"
                  (click)="onDeleteIngredient(i)"
                ><mat-icon>remove_circle_outline</mat-icon></button>
              </div>
            </div>
          </ng-container>
          <hr />
          <div class="row">
            <div
              class="
                col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1
              "
            >
              <button
                type="button"
                mat-raised-button
                color="primary"
                style="font-family: Lekton;"
                (click)="onAddIngredient()"
              ><mat-icon>add_circle_outline</mat-icon>
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
          <button
            type="button"
            mat-raised-button
            color="warn"
            (click)="deleteRecipe()"
          >
            Delete Recipe
          </button>
          <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br />
<br />
