<div class="row">
  <div ngbDropdown class="dropdown">
    <button
      mat-raised-button
      color="accent"
      ngbDropdownToggle
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      role="button"
      aria-expanded="false"
    >
      Manage Project
    </button>
    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-light">
      <ng-container>
        <li>
          <a
            ngbDropdownItem
            class="dropdown-item"
            (click)="onAddRecipesToShoppingList()"
            >Add Project To the NotePad</a
          >
        </li>
      </ng-container>
      <li><hr class="dropdown-divider" /></li>
      <li>
        <a ngbDropdownItem class="dropdown-item" (click)="onEditRecipe()"
          >Edit Project</a
        >
      </li>
    </ul>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-fluid"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col"></div>
</div>
<div class="row">
  <div class="col">
    <strong>Description</strong><br />
      <mat-card>
    {{ recipe.description }}
    </mat-card>
    <br /><br />
    <strong>Details</strong><br />
    <mat-card class="justified">
        {{ recipe.preparation }}
      </mat-card>
    <br />
  </div>
</div>
<div class="row">
  <div class="col">
    <strong>Issues</strong><br />
    <mat-card><mat-selection-list #ingredients [multiple]="false">
      <mat-list-option *ngFor="let ingredient of recipe.ingredients" style="cursor: default;">
        ({{ ingredient.measure }})
        {{ ingredient.name }}
      </mat-list-option>
    </mat-selection-list></mat-card>
  </div>
</div>
<hr>
